body{
    background-color: rgb(124, 64, 150);
}

main {
width: 800px;
margin-left: auto;
margin-right: auto;
}

header{
    text-align: center;
}

nav{
    gap: 50px;
    display:felx;
    align-items: center;
    width: 100%;
    justify-content: center;
}