body {
    background-color: rgb(124, 64, 150);
}

main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    font-family: "Playwrite HR", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

nav {
    gap: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

a {
    color:darkturquoise;
}

a:hover {
    color:slateblue;
    transform: rotate(5deg);
}

img{
    width: 1000px;
    height: 1000px;
    margin: auto, 0;
}
